{% extends '_base.html' %}

{% block title %}
    {{product.title}}
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      {% for parent in product.category.get_ancestors %}
        <li class="breadcrumb-item"><a href="{{parent.get_absolute_url}}">{{parent.name}}</a></li>
      {% endfor %}
      <li class="breadcrumb-item"><a href="{{product.category.get_absolute_url}}">{{product.category.name}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{product.title}}</li>
  </ol>
</nav>
<div class="row">

    <div class="col-nd-4 w-100">
        {% for image in product_images %}
        <img src="{{image.url}}" class="img-fluid">
        {% endfor %}
    </div>
    <div class="col-nd-8">
      <p style='font-size:13px;'>Категория: {{product.category}}</p>
        <h3>{{product.title}}</h3>
        <p>Продавец: {{product.vendor}}</p>        
        <p>Цена: {{product.price}}$</p>
        <p>Описание: {{product.description}}</p>
        Характеристики:
        <hr>
<!--        {% for product_feature_name in product_feature_names %}-->
<!--            <p>{{product_feature_name.feature_name}}: </p>-->
<!--        {% endfor %}-->
        {% for product_feature_value in product_feature_values %}
                {{product_feature_value.feature}}
<!--            {% for product_feature_name in product_feature_value.feature %}-->
<!--            <p>{{product_feature_name.feature_name}} - {{product_feature_value.feature_value}}</p>-->
<!--            {% endfor %}-->
        {% endfor %}
        <hr>
        <a href="{% url 'add_cart' slug=product.slug %}"><button class="btn btn-danger">Добавить в корзину</button></a>
    </div>

</div>

{% endblock %}