{% extends '_base.html' %}

{% block title %}
    {{product.title}}
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" class="mt-2">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      {% for parent in product.category.get_ancestors %}
        <li class="breadcrumb-item"><a href="{{parent.get_absolute_url}}">{{parent.name}}</a></li>
      {% endfor %}
      <li class="breadcrumb-item"><a href="{{product.category.get_absolute_url}}">{{product.category.name}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{product.title}}</li>
  </ol>
</nav>
<div class="row">

    <div class="col-nd-4 w-100">
        {% for image in product.product_images.all %}
        <img src="{{image.image.url}}" class="img-fluid">
        {% endfor %}
    </div>
    <div class="col-nd-8">
        <h3>{{product.title}}</h3>
        <p>Продавец: <a href="{{product.vendor.get_absolute_url}}">{{product.vendor.name_of_shop}}</a></p>   
        <p>Цена: {{product.price}} Сом</p>
        <p>Описание: {{product.description}}</p>
        <p>Кол-во на складе: {{product.qty}}</p>
        <hr>
        {% if product.product_features_values %}
        <h5 class='mb-4'>Дополнительные характеристики:</h5>
        <p>
          {% for product_feature_value in product.product_features_values.all %} 
        {% if product_feature_value.feature.postfix_for_value %}
        <p>{{product_feature_value.feature.feature_name}}: {{product_feature_value.feature_value}} {{product_feature_value.feature.postfix_for_value }}</p>
        {% else %}
        <p>{{product_feature_value.feature.feature_name}}: {{product_feature_value.feature_value}}</p>
        {% endif %}
        {% endfor %}
        {% endif %}
        <hr>
        <a href="{% url 'add_cart' slug=product.slug %}"><button class="btn btn-danger">Добавить в корзину</button></a>
    </div>

</div>

{% endblock %}